<form name="billing-sheet-gen" role="form" novalidate ng-submit="save()">
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>

        <div class="form-group">
            <label for="field_client">client</label>
            <select class="form-control" id="field_client" name="client" ng-model="clients.clientId" ng-options="client.id as client.name for client in clients">
                <option value=""></option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label" for="field_month">Month</label>
            <select class="form-control" id="field_month" name="month" ng-model="" ng-options="">
                <option value="1">Jan</option>
                <option value="2">Feb</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label" for="field_year">Year</label>
            <select class="form-control" id="field_year" name="client" ng-model="client." ng-options="">
                <option value="2016">2016</option>
            </select>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
