
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTripleSetLabel">Create or edit a TripleSet</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="tripleSet.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_control">Control</label>
            <input type="text" class="form-control" name="control" id="field_control"
                    ng-model="tripleSet.control"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_parent">Parent</label>
            <input type="text" class="form-control" name="parent" id="field_parent"
                    ng-model="tripleSet.parent"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_child">Child</label>
            <input type="text" class="form-control" name="child" id="field_child"
                    ng-model="tripleSet.child"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_config">Config</label>
            <input type="text" class="form-control" name="config" id="field_config"
                    ng-model="tripleSet.config"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
